.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: black;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: red;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: red;
}

#productName{
  position: relative;
  color:black;
  font-weight: bold;
  text-align: center;
  display:block;
  margin:5px 0 0 5px;
  font-size:50px;
  font-family:Georgia;
  
}

#carouselExampleFade{
  width: 50%;
  margin: auto;
  margin-left: 250px;
  display: inline-block;
}

#carru{

  margin-left: 2%;
}

#foticas{
  background-color: #fff;
  border-color: rgb(189, 189, 189);
  border-style: solid;
  border-width: 2px;
  width: 100px;
  height: auto;
  display: inline-block;
  float: left;
}

.peques {
width: 85px;
height: 70px;
margin-bottom: 15px;
border-color: rgb(189, 189, 189);
border-width: 2px;
border-style: solid;
margin-left: 4px;
margin-top: 8px;
}

.peques:hover {
  border-left-color: rgb(12, 128, 116);
  border-width: 4px;
}

.carrin {
  text-align: center; 
  padding-right: 100px;
  padding-left: 75px;
  font-weight: bold;
  color: rgba(249, 205, 130) ;
}

#carrote {
  border-style: solid;

}

.tabla td{
  text-align: center;
}

.tituloCarro {
  margin-top: 25px;
}

#totali {
  border-style: solid;
  padding-right: 100px;
  padding-left: 75px;
  font-weight: bold;
  color: rgba(249, 205, 130) ;
}
